.backDrop {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.3);
	line-height: 100vh;
}

.modal {
	background-color: #fff;
	border-radius: 5px;
	padding: 20px;
	display: inline-block;
	vertical-align: middle;
}

.newPlayerForm {
	line-height: 1.7;
	background-color: '#fff';
}

.leftColumn {
	display: inline-block;
	text-align: right;
	margin-right: 20px;
}

.rightColumn {
	display: inline-block;
}

.submitButton {
	margin-top: 10px;
	margin-left: 10px;
}